#intro{
    color: black;
}

.intro-title{
    color: black;
}

.intro-name{
    color: black;
}

.intro-subtitle{
    color: black;
}

.intro-desc{
    color: black;
}

.intro-contact{
    color: black;
}